accelerate==0.26.1
datasets==2.16.1
fastapi==0.109.0
evaluate==0.4.1
jiwer==3.0.3
pydantic==2.6.0
rouge_score==0.1.2
torch==2.2.0+cpu
torchvision==0.17.0+cpu
starlette==0.35.1
transformers==4.37.2
uvicorn==0.27.0.post1